@charset "utf-8";
/* CSS Document */
/*///////////////////////////////////
//////////// index page ////////////
/////////////////////////////////*/
.main-bg {
	width: 968px;
	height: 500px;
	background-image: url(../image/indexpage-01.png);
	background-repeat: no-repeat;
	position: relative;
	top: -90px;
	left: -4px;
}
#main-box {
	margin: 0 auto;
	list-style: none;
}
#main-box li {
	display: inline;
	color: #FFFFFF;
}
#main-box li a {
	text-decoration: none;
	color:#999;
	font-size:12px;
}
#main-box li a:hover {
	color: #00B4D5;/*When the mouse is over, the color change to this*/
}
.main-title {
	font-size: 15px;
	position: relative;
	top: 195px;
	left: 440px;
	font-weight: bold;
}
.main_siteup {
	width: 122px;
	height: 41px;
	background-image: url(../image/loginpage-03.png);
	background-repeat: no-repeat;
	position:relative;
	top:150px;
	left:750px;
}
.main_siteup a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	position: relative;
	top: 5px;
	left: 30px;
}
/*///////////////////////////////////
////////// account header //////////
/////////////////////////////////*/
.accountbar {
	width: 440px;
	height: 40px;
	background-color: #8CC63E;
	position: relative;
	top: -110px;
	left: 465px;
}
*:first-child+html .accountbar-bg {
	zoom: 1;
} /* IE7 */
.accountbar-bg {
	width: 500px;
	float: left;
	margin: 0px auto;
}
#account-bar {
	margin: 0 auto;
	list-style: none;
}
#account-bar li {
	display: inline;
	width: 50px;
	height: 5px;
	margin: 0px 5px;
	padding: 5px;
	color: #FFFFFF;
	position: relative;
	top: 10px;
	left: 10px
}
#account-bar li a {
	text-decoration: none;
	color: #FFFFFF;
}
#account-bar li a:hover {
	color: #00B4D5;/*When the mouse is over, the color change to this*/
}
/*///////////////////////////////////
////////// menu header /////////////
/////////////////////////////////*/
.header-wrap {
	margin: 0px auto;
	border-top: none;
	border-bottom: 2px solid white;
	background-image: url(../image/websignlayout-01.png);
	background-repeat: no-repeat;
}
.group:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
*:first-child+html .group {
	zoom: 1;
} /* IE7 */
#header-one {
	margin: 0px auto;
	list-style: none;
	position: relative;
	top: 5px;
	width: 940px;
	height: 132px;
}
#header-one li {
	display: inline;
}
#header-one li a {
	color: #bbb;
	font-size: 16px;
	display: block;
	float: left;
	padding: 40px 25px 4px 10px;
	text-decoration: none;
	text-transform: uppercase;
}
#header-one li a:hover {
	color: #00B4D5;/*When the mouse is over, the color change to this*/
}
.current_page_item a {
	color: white !important;
}
/*///////////////////////////////////
//////////the image bar/////////////
/////////////////////////////////*/
.image-wrap {
	position: relative;
	height: 500px;
	width: 858px;
	top: -30px;
	left: 27px;
	background-color: #333;
}
.image-middle {
	position: relative;
	top: 30px;
	left: 30px;
}
/*///////////////////////////////////
//////////the middle bar////////////
/////////////////////////////////*/
.middle-wrap {
	margin: 0px auto;
	border-top: none;
	border-bottom: 2px solid white;
	background-image: url(../image/websignlayout-19.png);
	background-repeat: no-repeat;
	position: relative;
	top: -52px;
}
#header-two {
	margin: 0 auto;
	list-style: none;
	position: relative;
	width: 924px;
	height: 212px;
}
#header-two li {
	display: inline;
}
#header-two img {
	display: block;
	float: left;
	padding: 15px 60px 4px 10px;
}
#readme a {
	color: white;
	font-size: 15px;
	display: block;
	float: left;
	padding: 10px 105px 15px 50px;
	text-decoration: none;
	text-transform: uppercase;
}
#readme a:hover {
	color: #00B4D5;/*When the mouse is over, the color change to this*/
}
/*///////////////////////////////////
////////////the news////////////////
/////////////////////////////////*/
.news-bg {
	width: 858px;
	height: 360px;
	background-color: #333;
	position: relative;
	top: -104px;/*It's the top position about the black border.*/
}
#news-text {
	margin: 0 auto;
	list-style: none;
}
#news-text li {
	display: inline;
}
#news-text li p {
	font-family: Verdana, Geneva, sans-serif;
	color: white;
	text-decoration: none;
	padding-right: 280px;
	padding-left: 280px;
	text-align: justify;
	font-size: 8px;
	font-size: 12px!important;/*Mozilla Firefox layout only!*/
}
#news-text ol p {
	font-family: Verdana, Geneva, sans-serif;
	color: white;
	text-decoration: none;
	padding-right: 280px;
	padding-left: 280px;
	text-align: justify;
	font-size: 8px;
	font-size: 12px!important;/*Mozilla Firefox layout only!*/
}
#news-text label {
	height: 90px;
	width: 130px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #F60;
	text-align: left;
}
.news-image-01 { /*bar "Support to the user"*/
	position: relative;
	top: 10px;
	left: -30px;
}
.news-label-01 { /*label "How to help"*/
	position: relative;
	top: 20px;
	left: 30px;
}
.news-text-01 {
	position: relative;
	top: -40px;
	left: -250px;
}
.news-label-02 { /*label "Award winner!"*/
	position: relative;
	top: -40px;
	left: 30px;
}
.news-text-02 {
	position: relative;
	top: -100px;
	left: -250px;
}
.news-label-03 {  /*label "Winston Yang!"*/
	position: relative;
	top: -90px;
	left: 30px;
}
.news-text-03 {
	position: relative;
	top: -150px;
	left: -250px;
}
.news-image-02 { /*image "Wolf and Moon"*/
	position: relative;
	left: 340px;
}
.news-label-04 { /*label "Future Planning!"*/
	position: relative;
	top: -170px;
	left: 550px;
}
.news-text-04 {
	position: relative;
	top: -210px;
	left: 270px;
}
.news-image-03 { /*bar "Read by Future"*/
	position: relative;
	top: -200px;
	left: 680px;
}
/*///////////////////////////////////
////////////the footer//////////////
/////////////////////////////////*/
#footer-text {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
#footer-text li {
	display: inline;
	position: relative;
	top: 30px;
	left: 65px;
	color: #FFF;
	left: 75px!important;
	font-family: Verdana, Geneva, sans-serif;
}
#footer-text ol {
	position: relative;
	top: 20px;
	left: 500px;
	color: #FFF;
	top: 40px!important;
	left: 225px!important;
	font-family: Verdana, Geneva, sans-serif;
}
#footer-text li a {
	text-decoration: none;
	color: white;
}
.footer-img {
	position: relative;
	top: 40px;
	left: 550px;
	list-style: none;
	left: 270px!important;
}
/*///////////////////////////////////
/////////// logo header ////////////
/////////////////////////////////*/
.myHeader {
	text-align: center;
	font: normal Helvetica, Arial, sans-serif;
	color: #0099CC;
}
.test {
	color: #00B4D5;
}
/*///////////////////////////////////
//////////// the login /////////////
/////////////////////////////////*/

label {
	display: block;
	color: #00B4D5;
	font-family: Verdana, Geneva, sans-serif;
	height: 45px;
}
.user_mail {
	font-size: 25px;/*the size about the user_mail label*/
}
.password {
	font-size: 25px;/*the size about the password label*/
}
#loginform-bg {
	width: 858px;/*the backgroud width about the login form. the top one*/
	background-color: #333;
	position: relative;
	top: -90px;
}
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
 *zoom: 1;
}
:focus {
	outline: 0;
}
.loginform {
	width: 370px;
	height: 470px;
	margin: 50px auto;
	padding: 35px;
	background-color: white;
	position: relative;
	top: 70px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.3);
}
.loginform ul {
	padding: 0;
	margin: 0;
}
.loginform li {
	display: inline;
	float: left;
}
.loginform input:not([type=submit]) {
	padding: 10px;/*loginform white border 
size*/
	width: 350px;
	margin-right: 20px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
}
.loginform input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #64c8ef), color-stop(100%, #00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #64c8ef 0%, #00a2e2 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2', GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.support-bg {
	position: relative;
	top: -40px;
	left: -10px;
}
#support-qa {
	margin: 0 auto;
	list-style: none;
}
#support-qa li {
	display: inline;
}
#support-qa h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}
#support-qa h5 a {
	color: #00B4D5;
	text-decoration: none;
}
#support-qa h5 a:hover {
	color: #999;/*When the mouse is over, the color change to this*/
}
/* The login button part*/
.login_button:nth-of-type(1n) {/*IE9-10*/
	width: 122px;
	height: 41px;
	background-image: url(../image/loginpage-03.png);
	background-repeat: no-repeat;
	position: relative;
	top: 5px;
	top: 10px\9;
}
.login_button a {
	text-decoration: none;
	font-size: 22px;
	color: white;
	margin: 20px 30px 30px 30px;
}
.login_button a:hover {
	color: orange;/*When the mouse is over, the color change to this*/
}
/*error massage part*/
.error {
	font-size: 12px;
	color: red;
}
#issue-massage {
/* more code in future*/
}
/*checkbox to keep the password and username in browser*/

#checkboxG1:nth-of-type(1n) {
	position: relative;/*the check box*/
	width: 20px;
	border: hidden;
	top: 8px;
	left: 70px;
	left: 65px\9;
}
.checkbox:nth-of-type(1n) {
	position: relative;/*label about the checkbox*/
	top: -15px;
	top: -19px\9;
	left: 100px;
}
/*///////////////////////////////////
/////// the  user register /////////
/////////////////////////////////*/
#header-signup {
	font-size: 24px;
	color: #00B4D5;
}
#register-bg {
	width: 858px;/*the backgroud width about the login form. the top one*/
	background-color: #333;
	position: relative;
	top: -90px;
}
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
 *zoom: 1;
}
:focus {
	outline: 0;
}
.registerform {
	width: 375px;
	height: 865px;/*the size about this registerform*/
	margin: 50px auto;
	padding: 35px;
	background-color: white;
	position: relative;
	top: 70px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.3);
}
.registerform ul {
	padding: 0;
	margin: 0;
}
.registerform li {
	display: inline;
	float: left;
}
.registerform input:not([type=submit]) {
	padding: 10px;/*registerform white border size*/
	width: 350px;
	margin-right: 20px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
}
.registerform input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #64c8ef), color-stop(100%, #00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #64c8ef 0%, #00a2e2 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2', GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
/*This part is about the each li position.*/
#name_box {
	height: 85px;
}
#type_box {
	position: relative;
	top: 10px;
}
#mail_box {
	position: relative;
	top: 10px;
}
#password_box {
	position: relative;
	top: 30px;
}
#dob {
	position: relative;
	top: 45px;
}
#park {
	position: relative;
	top: 25px;
}
/*This part is about the each label and input.*/
.u_name {
	font-size: 20px;
}
#F_name_signup {
	width: 150px;
}
#L_name_signup {
	width: 150px;
	position: relative;
	top: -40px;
	left: 200px;
}
.u_mail {
	font-size: 20px;
}
#email_signup {
	width: 350px;
}
#email_signup_confirm {
	width: 350px;
	position: relative;
	top: 10px;
}
.u_password {
	font-size: 20px;
}
#password_signup {
	width: 350px;
}
#password_signup_confirm {
	width: 350px;
	position: relative;
	top: 10px;
}
.u_dob {
	font-size: 20px;
}
#Day_signup {
	width: 97px;
}
#Month_signup {
	width: 97px;
	position: relative;
	left: -20px;
}
#Year_signup {
	width: 97px;
	position: relative;
	top: -40px;
	left: 252px;
}
.u_type {
	font-size: 20px;
}
.u_park {
	font-size: 20px;
}
#Park_signup {
	width: 350px;
}
/*The submit button in this form.*/
.siteup_button {
	width: 122px;
	height: 41px;
	background-image: url(../image/loginpage-03.png);
	background-repeat: no-repeat;
	position: relative;
	top: 50px;
	left: -5px;
}
.siteup_button a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	position: relative;
	top: 5px;
	left: 30px;
}
.siteup_button a:hover {
	color: orange;/*When the mouse is over, the color change to this*/
}
.support-bg-s {
	position: relative;
	top: 35px;
	left: -15px;
}
/*///////////////////////////////////
//////////weekly report/ ///////////
/////////////////////////////////*/
#report-bg {
	width: 858px;/*the background width about the login form. the top one*/
	background-color: #333;
	position: relative;
	top: -40px;
}
.reportform li {
	display: inline;
}
.reportform li p {
	color: white;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	text-align: justify;
}
#title_report {
	color: white;
	font-size: 24px;
	font-family: Verdana, Geneva, sans-serif;
	position: relative;
	top: 45px;
	left: 15px;
}
#main_report {
	position: relative;
	top: 55px;
}
#table_report {
	position: relative;
	top: 75px;
	left: 90px;
}
/*///////////////////////////////////
////////Pest Detail update /////////
/////////////////////////////////*/
#Pest_U-bg {
	width: 858px;/*the background width about the login form. the top one*/
	background-color: #333;
	position: relative;
	top: -90px;
}
/*This is the update button.*/
.update_button {
	width: 122px;
	height: 41px;
	background-image: url(../image/loginpage-03.png);
	background-repeat: no-repeat;
	position: relative;
	top: 120px;
	left: -210px;
}
.update_button a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	position: relative;
	top: 5px;
	left: 10px;
}
.update_button a:hover {
	color: orange;/*When the mouse is over, the colour change to this*/
}
/*This part is about the each li position.*/
#id_update {
}
#source_update {
	position: relative;
	top: 30px;
}
#type_update {
	position: relative;
	top: 65px;
	left: -108px;
}
#mark_update {
	position: relative;
	top: 35px;
}
/*This part is about the each label and input.*/
#new_up {
	position: relative;
	top: 10px;
}
#re_new_up {
	position: relative;
	top: 15px;
}
#source_up {
	position: relative;
	top: -45px;
	left: 125px;
}
#type_up {
	position: relative;
	top: -45px;
	left: 125px;
}
/*This is the submit button.*/
.submit_button {
	width: 122px;
	height: 41px;
	background-image: url(../image/loginpage-03.png);
	background-repeat: no-repeat;
	position: relative;
	top: 69px;
	left: 120px;
}
.submit_button a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	position: relative;
	top: 5px;
	left: 30px;
}
.submit_button a:hover {
	color: orange;/*When the mouse is over, the colour change to this*/
}
/*This is the cancel button.*/
.cancel_button {
	width: 122px;
	height: 41px;
	background-image: url(../image/loginpage-03.png);
	background-repeat: no-repeat;
	position: relative;
	top: 69px;
	left: 130px;
}
.cancel_button a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	position: relative;
	top: 5px;
	left: 30px;
}
.cancel_button a:hover {
	color: orange;/*When the mouse is over, the colour change to this*/
}
/*///////////////////////////////////
//////////// message ///////////////
/////////////////////////////////*/
/*This is a three button layout.*/
#message-bg {
	width: 858px;/*the background width about the login form. the top one*/
	background-color: #333;
	position: relative;
	top: -40px;
}
#message-layout {
	display: inline;
}
.ok_button {
	width: 122px;
	height: 41px;
	background-image: url(../image/loginpage-03.png);
	background-repeat: no-repeat;
	position: relative;
	top: 10px;
	left: -10px;
}
.ok_button a {
	text-decoration: none;
	font-size: 25px;
	color: white;
}
.ok_button a:hover {
	color: orange;/*When the mouse is over, the colour change to this*/
}
/*///////////////////////////////////
//////// animal sighting ///////////
/////////////////////////////////*/
#pest_sighting_index-bg {
	width: 858px;/*the backgroud width about the login form. the top one*/
	background-color: #333;
	position: relative;
	top: -90px;
}
.animal_wrapper {
	width: 314px;
	height: 1000px;
	margin: 120px auto;
}
.pest-sighting-box {
	width: 370px;
	height: 570px;
	margin: 50px auto;
	padding: 35px;
	background-color: white;
	position: relative;
	top: 70px;
}
.pest-sighting-box ul {
	padding: 0;
	margin: 0;
}
.pest-sighting-box li {
	display: inline;
	float: left;
}
.feral_fox {
	float: left;
}
.feral_dog {
	float: right;
}
.feral_cat {
	float: left;
}
.feral_rat {
	float: right;
}
.feral_rabbit {
	float: left;
}
