@charset "utf-8";
/* CSS Document */

/*///////////////////////////////////
//////////// login page ////////////
/////////////////////////////////*/
label {
	display: block;
	color: #00B4D5;
	font-family: Verdana, Geneva, sans-serif;
	height: 45px;
}
#loginform-bg {
	width: 858px;/*the background width about the login form. the top one*/
	background-color: #333;
	position: relative;
	top: -90px;
}
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
 *zoom: 1;
}
:focus {
	outline: 0;
}
.loginform {
	width: 400px;
	height: 490px;
	margin: 50px auto;
	padding: 35px;
	background-color: white;
	position: relative;
	top: 70px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.3);
}
.loginform ul {
	padding: 0;
	margin: 0;
}
.loginform li {
	display: inline;
}
.loginform input:not([type=submit]) {
	padding: 10px;/*login form white border 
size*/
	width: 350px;
	margin-right: 20px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
}
.loginform input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #64c8ef), color-stop(100%, #00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #64c8ef 0%, #00a2e2 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2', GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
#email-input {
	position: relative;
	left: -13px;
}
#password_input {
	position: relative;
	left: -13px;
}
.user_mail {
	font-size: 25px;/*the size about the user_mail label*/
}
.password {
	font-size: 25px;/*the size about the password label*/
}
/* The login button part*/
.login-button {
	position: relative;
	top: -15px;
	left: -33px;
}
.login-button a {
	text-decoration: none;
	position: relative;
	top: 5px;
	left: 30px;
}
#login_button {
	width: 122px;
	height: 41px;
	border: none;
	background-image: url(../image/loginpage-03.png);
	background-repeat: no-repeat;
	font-size: 22px;
	color: white;
}
#login_button:hover {
	color: orange;/*When the mouse is over, the colour change to this*/
}
/*This is about the support.*/
.support-bg {
	position: relative;
	top: -60px;
	left: -10px;
}
.support-bg-s {
	position: relative;
	top: -60px;
	left: -10px;
}
#support-qa {
	margin: 0 auto;
	list-style: none;
}
#support-qa li {
	display: inline;
}
#support-qa p {
	font-size: 15px;
	font-weight: bold;
	margin: 12px 0;
}
#support-qa p a {
	color: #00B4D5;
	text-decoration: none;
}
#support-qa p a:hover {
	color: #999;/*When the mouse is over, the colour change to this*/
}
/*error massage part*/
.error {
	font-size: 12px;
	color: red;
}
/*check box to keep the password and user name in browser*/
.login-check {
	position: relative;
	top: -30px;
	left: 95px;
}
#checkboxG1 {
	width: 20px;
	border: hidden;
	position: relative;/*the check box*/
	top: 14px;
	left: -30px;
}
.checkbox {
	position: relative;/*label about the check box*/
	top: -16px;
	left: 126px;
}
/*///////////////////////////////////
////////// user register ///////////
/////////////////////////////////*/
#header-signup {
	font-size: 24px;
	color: #00B4D5;
}
#register-bg {
	width: 858px;/*the background width about the login form. the top one*/
	background-color: #333;
	position: relative;
	top: -90px;
}
.registerform {
	width: 375px;
	height: 865px;/*the size about this register form*/
	margin: 50px auto;
	padding: 35px;
	background-color: white;
	position: relative;
	top: 70px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.3);
}
.registerform ul {
	padding: 0;
	margin: 0;
}
.registerform li {
	display: inline;
	float: left;
}
.registerform input:not([type=submit]) {
	padding: 10px;/*register form white border size*/
	width: 350px;
	margin-right: 20px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
}
.registerform input[type=submit] {
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #64c8ef), color-stop(100%, #00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #64c8ef 0%, #00a2e2 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2', GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
/*This part is about the each Li position.*/
#name_box {
	height: 85px;
}
#type_box {
	position: relative;
	top: 10px;
}
#mail_box {
	height: 130px;
	position: relative;
	top: 10px;
}
#password_box {
	height: 130px;
	position: relative;
	top: 30px;
}
#dob {
	position: relative;
	top: 45px;
}
#park {
	position: relative;
	top: 25px;
}
/*This part is about the each label and input.*/
.u_name {
	font-size: 20px;
}
#F_name_signup {
	width: 150px;
}
#L_name_signup {
	width: 150px;
	position: relative;
	top: -40px;
	left: 200px;
}
.u_mail {
	font-size: 20px;
}
#email_signup {
	width: 350px;
}
#email_signup_confirm {
	width: 350px;
	position: relative;
	top: 10px;
}
.u_password {
	font-size: 20px;
}
#password_signup {
	width: 350px;
}
#password_signup_confirm {
	width: 350px;
	position: relative;
	top: 10px;
}
.u_dob {
	font-size: 20px;
}
#Day_signup {
	width: 97px;
}
#Month_signup {
	width: 97px;
	position: relative;
	left: -20px;
}
#Year_signup {
	width: 97px;
	position: relative;
	top: -45px;
	left: 252px;
}
.u_type {
	font-size: 20px;
}
.u_park {
	font-size: 20px;
}
#Park_signup {
	width: 350px;
}
/*The submit button in this form.*/
.siteup-button {
	position: relative;
	top: 15px;
	left: -32px;
}
.siteup-button a {
	text-decoration: none;
	position: relative;
	top: 5px;
	left: 30px;
}
#siteup_button {
	width: 122px;
	height: 41px;
	border: none;
	font-size: 20px;
	color: white;
	background-image: url(../image/loginpage-03.png);
	background-repeat: no-repeat;
}
#siteup_button:hover {
	color: orange;/*When the mouse is over, the colour change to this*/
}
.support-bg-s {
	position: relative;
	top: 35px;
	left: -15px;
}
#email-validate-status {
	color: green;
	position: relative;
	top: -22px;
	left: 300px;
}
#password-validate-status {
	color: green;
	position: relative;
	top: -22px;
	left: 298px;
}
