@charset "utf-8";
/* CSS Document */
/*///////////////////////////////////
//////////// home page /////////////
/////////////////////////////////*/
@media screen and (-webkit-min-device-pixel-ratio:0) {/*This is hacks about the chrome web browser*/
.news-bg {
	width: 858px;
	height: 710px;
	background-color: #333;
	margin-top: -42px;/*It's the top position about the black border.*/
}
#news-text p {
	width: 230px;
	font-family: Verdana, Geneva, sans-serif;
	color: #FFF;
	text-decoration: none;
	text-align: justify;
	font-size: 6px;
}
.news-image-02 { /*image "Wolf and Moon"*/
	height: 300px;
	width: 200px;
	background-image: url(../image/wolf.jpg);
	background-repeat: no-repeat;
	position: relative;
	top: -380px;
	left: 340px;
}
.news-label-04 {
	position: relative;
	top: -880px;
	left: 595px;
}
.news-text-04 {
	position: relative;
	top: -850px;
	left: 580px;
}
.news-image-03 { /*bar "Read by Future"*/
	width: 231px;
	height: 57px;
	background-image: url(../image/websignlayout-22.png);
	background-repeat: no-repeat;
	position: relative;
	top: -850px;
	left: 655px;
}
/*this is about the pest table*/
.table-tr-title {
	background-color: #00B4D5;
	color: #FFF;
	font-size: 9px;	
}
table {
	width: 880px;
	position: relative;
	left: 35px;
	text-align:center;
}
}
